<div class="container">
  <div class="m-3 text-center">
    <form class="form-inline">
      <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               name="search"
               required>
      </div>
      <button type="submit"
              class="btn btn-primary">
        Search
      </button>
    </form>
    <hr />

    <!-- <div class="text-center">
      <p class="lead">Loading...</p>

      <p class="lead">No results returned</p>

      <p class="lead">Enter a search string above and press search</p>
    </div> -->
  </div>

  <!-- TODO: Show the results of the search -->
  <app-book-list></app-book-list>
</div>
